.root{
    -fx-font-size : 18;
    -fx-text-fill: pink;
}
.button{
    -fx-font-size : 18;
    -fx-background-color: pink;
}
.text-area{
    -fx-control-inner-background: black;
     -fx-text-fill: pink;
}
.text-field{
    -fx-control-inner-background: #212121;
     -fx-text-fill: pink;
}